# https://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

[*.go]
indent_style = tab
indent_size = 8

[*.{html,js,css,yaml,yml,md}]
indent_style = space
indent_size = 2